[Unit]
Description=Public IP Monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStart=/usr/bin/python3 -u cmd.py
WorkingDirectory=/home/pi/Desktop/zhengxuqiao.github.io/cmd/
Restart=on-failure
RestartSec=5s
User=pi
Group=pi
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=public-ip

[Install]
WantedBy=multi-user.target


